[
  {
    "image": "teymurgahramanov/app22:${image_tag}",
    "name": "app22",
    "networkMode": "awsvpc",
    "environment": [
      {"name": "DB_ENGINE", "value": "${db_engine}"},
      {"name": "DB_ENDPOINT", "value": "${db_endpoint}"},
      {"name": "DB_USERNAME", "value": "${db_username}"},
      {"name": "DB_NAME", "value": "${db_name}"}
    ],
    "secrets": [
      {
      "name": "DB_PASSWORD", 
      "valueFrom": "${db_password}"
      }
    ],
    "portMappings": [
      {
        "containerPort": ${app_port},
        "hostPort": ${app_port}
      }
    ]
  }
]